In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
df_meteo = pd.read_csv("data/meteo.csv")
df_air_pollution = pd.read_csv("data/air_pollution.csv")
df_meteo.sample(10)

,date,PC4,wd,ws,blh,tcc,ssrd
215906,2021-08-25 02:00:00,5646,37.490372,2.159006,121.071724,0.459534,0.000000
192019,2021-12-02 19:00:00,5643,167.921356,2.412870,122.730804,0.058302,0.000000
231005,2021-05-16 05:00:00,5652,222.717361,4.579061,630.502380,0.662145,32.292135
272675,2021-02-16 11:00:00,5657,260.395569,5.496549,691.410645,0.921724,308.069236
126708,2021-06-19 12:00:00,5628,207.381012,2.615113,882.497864,0.999367,557.698819
229008,2021-02-22 00:00:00,5652,294.626831,4.023728,168.595673,0.031539,0.000000
197310,2021-07-11 06:00:00,5644,209.978729,2.903503,271.327393,0.997007,116.720009
255247,2021-02-20 07:00:00,5655,277.449799,4.641623,338.609924,0.918613,0.799854
16039,2021-10-31 07:00:00,5612,291.869507,4.137897,312.716919,0.942912,4.906796
56047,2021-05-26 07:00:00,5617,218.162918,4.422346,624.310242,0.716453,246.135938

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(weather_data, air_quality_data, test_size=0.2)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

In [ ]:
score = model.score(X_test, y_test)
print(f"Model accuracy: {score:.2f}")